# Default ignored files
/../../BuilderPatternExample./.idea/shelf/
/../../BuilderPatternExample./.idea/workspace.xml
# Environment-dependent path to Maven home directory
/../../BuilderPatternExample./.idea/mavenHomeManager.xml
